@mixin font-h1() {
  font-size: 30px;
  line-height: 38px;
}

@mixin font-h2() {
  font-size: 24px;
  line-height: 30px;
}

@mixin font-h3() {
  font-size: 18px;
  line-height: 24px;
}

@mixin font-h4() {
  font-size: 16px;
  line-height: 22px;
}

@mixin font-h5() {
  font-size: 13px;
  line-height: 18px;
}

@mixin font-h6() {
  font-size: 11px;
  line-height: 13px;
}

@mixin overflow-ellipsis($lines: null) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if ($lines) {
    // won't work on some browsers
    display: -webkit-box;
    -webkit-line-clamp: $lines;

    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
  }

  @else {
    white-space: nowrap;
  }
}
